body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    background: white;
    padding: 35px;
    max-width: 400px;
    margin: auto;
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
